.popup__btn-close {
    border: none;
    padding: 0;
    position: absolute;
    top: -32.7px;
    right: -32.7px;
}

@media screen and (max-width: 950px){
    .popup__btn-close {
    top: -39.62px;
    right: 0.38px;
    }
}